<%- include("./partials/header")%>
<%- include("./partials/navbar")%>

      <br>
      <div class="row m-2 row-cols-1 row-cols-md-2 g-5 ">
        
      <% for(let items of blogs){ %> 
        <div class="col">
              <div class="card h-100 p-4">
                <img src="<%= items.img %> " class="card-img-top" alt="<%= items.title %> image">
                <div class="card-body"  onclick="location.href='/blogs/<%= items.slug%>';">
                  <h2 class="card-title"><%= items.title%></h2>
                  <h5 class="text-muted">By <%= items.author%></h5>
                  <p class="card-text"><%= items.content.substring(0,150) %>...</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><%= items.date.toString().substring(0,16) %></small>
                </div>
              </div>
            </div>
         <% } %> 
        
    </div>
    <%- include("./partials/footer") %> 