<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <title>Blog-App</title>
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: #41b0bf;">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="navbar-brand" href="/blogs"><span style="color: aliceblue; text-align: center;"> Home</span></a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" href="/blogs/new"><span style="color: aliceblue; text-align: center;">Add New Blog</span></a>
            </li>
      </div>
  </nav>       

      <br>
      <div class="row m-2 row-cols-1 row-cols-md-2 g-5 ">
        
      <% for(let items of blogs){ %> 
        <div class="col">
              <div class="card h-100">
                <img src="<%= items.img %> " class="card-img-top" alt="<%= items.title %> image">
                <div class="card-body"  onclick="location.href='/blogs/<%= items._id%>';">
                  <h2 class="card-title"><%= items.title%></h2>
                  <h5 class="text-muted">By <%= items.author%></h5>
                  <p class="card-text"><%= items.content.substring(0,150) %>...</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><%= items.date.toString().substring(0,16) %></small>
                </div>
              </div>
            </div>
         <% } %> 
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>