<%- include("./partials/header")%>
<%- include("./partials/navbar")%>

      <br>
      <div class="card mb-4 ">
        <img src="<%= blog.img %>" class="card-img" alt="...">
        <div class="card-body m-5">
          <h1 class="card-title"><%= blog.title%></h1>
          <h4 class="text-muted">By <%= blog.author%></h4>
          <div class="blog-content">
            <p class="card-text"><%= blog.content%></p>
          </div>
          <p class="card-text"><small class="text-muted"><%= blog.date.toString().substring(0,16) %></small></p>
        </div>
      </div>
      <div class="m-3" style="display: flex; flex-flow: row-reverse;">
        <form action="/blogs/<%=blog.slug%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
      </form>
      </div>

      <div class="container mb-4" >
        <h5 class="display-5">Comments: </h5>
        <form action="/blogs/<%=blog.slug%>/review" method="POST" style="max-width:70%;" novalidate>
          <textarea name="comment" id="comment" cols="60" rows="2"></textarea>
          <button class="btn btn btn-primary" style="margin-bottom: 6%; margin-left: 5%;">Add Comment</button>
        </form>
        
        <div class="mb-3 mt-3">
        
          <%for(let review of blog.reviews){%>
              <div class="card mb-3">
                  <div class="card-body">
                    <p class="card-text"><%=review.comment%></p>
                  </div>
                </div>
          <%}%>
      </div>
      </div>


<%- include("./partials/footer") %> 